<h2 class="ui center aligned icon header">
  <i class="circular film icon teal"></i>
  Todos os Videos
</h2>

<div class="ui divider"></div>

<% if @videos.empty? %>
  <p>Não há nenhum video postado ainda ):</p>
<% else %>
  <%= render 'video' %>
<% end %>
